.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .content {
        gap: 38px;
        max-width: 282px;
    }
}
